
    .titulo{
        background-color:#1f7b61c5 ;
        text-align: center;
    }
    .contenido {
        background-color:#4AE044 ;
        text-align: justify;
    }
    .ref img {
        width: 150px;
    }
    .titulo2{
        background-color:#6c98e9a9 ;
        text-align: center;
    }   